@charset "UTF-8";

@media screen and (min-width: 768px)  and (max-width: 992px){
  main{
    width: 40vw;
  }
  input#enviar{
    width: 70%;
  }
  div a {
    width: 70%;
  }
}
@media screen and (min-width: 992px){
    main{
        width: 40vw;
      }
      input#enviar{
        width: 70%;
      }
      div a {
        width: 70%;
      }
    }